* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.topo-menu {
    display: flex;
    justify-content: space-between;
}

.navbar {
    margin-right: 30px;
    margin-top: 20px;
}

li {
    list-style: none;
    display: inline;
    margin-right: 70px;
    font-size: 16px;
    color: #333;
    font-weight: 530;
    letter-spacing: 1px;
}

li a {
    text-decoration: none;
    transition: 0.3s;
}

li a:visited {
    color: #333;
}

li a:hover {
    color: #017143;
}


.conteudo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.caixa-txt {
    width: 620px;
    margin-left: 35px;
    margin-top: 25px;
}

.caixa-img {
    display: flex;
    width: 620px;
    justify-content: flex-end;
    margin-top: 250px;
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}

.logo {
    width: 80px;
}

h2 {
    color: #333;
    font-size: 60px;
    font-weight: 500;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
}

button {
    background-color: #017143;
    color: white;
    border-radius: 40px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #035f38;
}

.starbucks {
    width: 300px;
}

.botao-menu {
    width: 60px;
    transition: 0.7s;
    cursor: pointer;
    margin: 10px;
}

.botao-menu:hover {
    transform: translateY(-20px);
}

.circulo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #017143;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}